<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/layout :: head">

</head>
<body>
<div class="row">
    <div class="col-12 ">
        <div th:replace="/common/layout :: navbar">
        </div>
    </div>
</div>
<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
    <tr>
        <th>Id</th>
        <th>Age</th>
        <th>Name</th>
        <th>Code</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Class Name</th>
    </tr>
    <tr th:each="student:${studentList}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.code}"></td>
        <td th:if="${student.gender==0}" th:text="Male"></td>
        <td th:if="${student.gender==1}" th:text="Female"></td>
        <td th:if="${student.gender==2}" th:text="LGBT"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.address}"></td>
        <td th:text="${student.phone}"></td>
        <td th:text="${student.getClassName().className}"></td>
    </tr>
</table>






<div th:replace="/common/layout :: script">
</div>
</body>
</html>