<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head th:replace="/customer/layout :: head">

</head>
<body>
<div class="container-fluid">
    <div th:replace="/customer/layout :: header"></div>
    <div class="row">
        <div class="col-12 ">
            <div th:replace="/customer/layout :: navbar">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span style="font-size: xx-large" class="text-center text-primary">Customer Using Service</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <table class="table table-striped table-inverse table-responsive"
                       style="display: inline-block; width: 100%; overflow-x: auto">
                    <thead class="thead-inverse">
                    <tr>

                        <th>Contract ID</th>
                        <th>Customer ID</th>
                        <th>Customer Name</th>
                        <th>Service ID</th>
                        <th>Total Money</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user,index:${usingList}">
<!--                        <input type="hidden" th:id="${index.count}" th:value="${user.getCustomerid()}">-->
                        <td th:text="${user.getContract()}"></td>
                        <td th:text="${user.getCustomercode()}"></td>
                        <td th:text="${user.getCustomername()}"></td>
                        <td th:text="${user.getService()}"></td>
                        <!--                        <td th:text="${user.getQuantity()}"></td>-->
                        <td th:text="${user.getTotal()}"></td>
                        <td>
                            <!--                            <a th:href="@{/customer/detail/{id}(id=${user.getCustomerid()})}">-->
                            <button th:onclick="|showDetail(${user.getCustomerid()})|"
                                    class="btn btn-primary" type="button">Detail <i class="fas fa-eye"></i>
                            </button>
                            <!--                            </a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" th:if="${page}!=0"
                                         th:href="@{'/customer/customer_using'(page=${page}-1)}">Previous</a></li>
                <li class="page-item"><a class="page-link" th:href="@{'/customer/customer_using'(page=${page })}"><span
                        th:text="${page}+1"></span>/<span th:text="${total}"></span></a></li>
                <li class="page-item"><a class="page-link" th:if="${page}<${total}"
                                         th:href="@{'/customer/customer_using'(page=${page} +1)}">Next</a></li>
                <li class="page-item"><a class="page-link" th:href="@{'/customer/customer_using'(page=${total})}">Last
                    Page</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-6"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">List Attach Service Of Customer Have Name:
                <span id="customerName"> </span></h5>
                <button type="button" onclick="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tableDetail" class="table table-striped table-inverse table-responsive">

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="/customer/layout :: script">
</div>
<script>
    function showDetail(id) {
        // alert(id)
        $.ajax({
            headers: {
                'Accept': "application/json", // produces nhận về
                'Content-Type': "application/json" //consumes gửi đi
            },
            type: "GET",
            // data: JSON.stringify(json),
            url: "/customer/detail/"+id,
            success: function (customer) {
                console.log(customer)
                let cont= '    <tr>\n' +
                    '        <td>Number</td>\n' +
                    '        <td>Attach Service</td>\n' +
                    '        <td>Quantity</td>\n' +
                    '        <td>Price</td>\n' +
                    '    </tr>';
                for (let i = 0; i < customer.length; i++) {
                    cont +=getDetail(i,customer[i])
                    console.log(customer[i].attachservice)
                }
                document.getElementById("customerName").innerHTML= customer[0].customername
                document.getElementById("tableDetail").innerHTML = cont
                $('#detail').modal('show');

                    console.log(customer)
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
    function closeModal() {
        $('#detail').modal('hide');

    }
    function getDetail(index, customer) {
        return `<tr>
                    <td>${index +1}</td>
                    <td >${customer.attachservice}</td>
                    <td >${customer.quantity}</td>
                    <td >${customer.cost}</td>

                    </tr>`;
    }
</script>

</body>
</html>