<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymleaf.org/extras/spring-security",
xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home Page</h1>
<div sec:authorize="isAuthenticated()">
    <h2>Bạn đã đăng nhập thành công</h2>
    <h3>xin chào : <span sec:authentication="principal.username"></span></h3>
    <span style="color: red" sec:authorize="hasRole('ADMIN')">Admin content</span>
    <span style="color: red" sec:authorize="hasRole('USER')">MEMBER content</span>
</div>

</body>
</html>