<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Borrow Book Page</title>
</head>
<body>
<h1>Borrow Book</h1>
<form th:action="@{/book/borrow}" th:object="${bookFound}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" name="code" th:value="${code}">
    <input type="hidden" th:field="*{quantity}">
    <input type="hidden" th:field="*{name}">

    <table>
        <tr>
            <td>Borrow Code:</td>
            <td th:text="${code}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Borrow">
            </td>
        </tr>
    </table>
</form>

</body>
</html>