<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay Book Page</title>
</head>
<body>
<h1>Pay Book</h1>
<span style="color: red" th:if="${errorCode}" th:text="${errorCode}"></span>
<form th:action="@{/book/pay}" th:object="${bookPay}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{quantity}">
    <input type="hidden" th:field="*{name}">
    <table>
        <tr>
            <td>Borrow Code:</td>
            <td ><input type="text" name="codePay"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Borrow">
            </td>
        </tr>
    </table>
</form>

</body>
</html>