<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Song</h3>
<p>
    <a th:href="@{/song}">
        Back to song list
    </a>
</p>
<div id="form">
    <form th:action="@{/song/save}" th:object="${songForm}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{name}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Singger</label>
            <input type="text" th:field="*{singger}"/>
        </div>
        <div>
            <label>Kind Of Music</label>
            <input type="text" th:field="*{kindOfMusics}"/>
<!--            <select th:field="*{kindOfMusics}">-->
<!--                <option th:each="i : ${kindList}"  th:value="${i}" th:text="${i}">-->
<!--                </option>-->
<!--            </select>-->
        </div>
        <div>
            <label>Path</label>
            <input type="text" th:field="*{path}"/>
        </div>

        <div>
            <label>Song</label>
            <input accept=".mp3" type="file" th:field="*{song}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>