<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Song Management</h3>
<p>
    <a th:href="@{/song/create}">
        Add new song
    </a>
</p>
<span th:text="${message}"></span>
<table id = "songList">
    <thead>
    <tr>
        <th>Name</th>
        <th>Singger</th>
        <th>Kind of Music</th>
        <th>Path</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songList}">
        <td th:text="${song.name}"></td>
        <td th:text="${song.singger}"></td>
        <td th:each="i: ${song.kindOfMusics}" th:text="${i}"></td>
        <td th:text="${song.path}"></td>
<!--        <td><img width="100" height="100" th:src="@{'/image/' + ${song.image}}" alt=""></td>-->
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>