<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div th:replace="/customer/layout :: header"></div>
            <div th:replace="/customer/layout :: navbar">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-2">
                    <a class="nav-link" href="/employee/create">
                        <button class="btn btn-outline-success"><i class="far fa-plus-square"></i> Add Employee</button>
                    </a>
                </div>
                <div class="col-8 text-center">
                    <span class="text-success" th:if="${success}" th:text="${success}"></span>
                </div>
                <div class="col-2 text-right">
                    <a class="nav-link">
                        <button type="button" class="btn btn-outline-primary"
                                data-toggle="modal" data-target="#modalSearch">Search <i class="fas fa-search"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-inverse table-responsive"
                       style="display: inline-block; width: 100%; overflow-x: auto">
                    <thead class="thead-inverse">
                    <tr>

                        <th>ID</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>ID Card</th>
                        <th>Salary</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Position</th>
                        <th>Education Degree</th>
                        <th>Division</th>
                        <th>UserName</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee,index:${employeeList}">

                        <td th:text="${employee.code}"></td>
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.birthDate}"></td>
                        <td th:text="${employee.idCard}"></td>
                        <td th:text="${employee.salary}"></td>
                        <td th:text="${employee.phone}"></td>
                        <td th:text="${employee.email}"></td>
                        <td th:text="${employee.address}"></td>
                        <td th:text="${employee.position.name}"></td>
                        <td th:text="${employee.educationDegree.name}"></td>
                        <td th:text="${employee.division.name}"></td>
                        <td th:text="${employee.user.userName}"></td>
                        <td>
                            <a th:href="@{/employee/edit/{id}(id=${employee.id})}">
                                <button class="btn btn-primary" type="button">Edit <i class="far fa-edit"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <button th:onclick="|onDelete('${employee.id}')|" type="button" class="btn btn-danger"
                                    data-toggle="modal" data-target="#modelId">Delete <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                        <td><input type="checkbox" class="employeeId" th:value="${employee.id}"></td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <div class="row">
                <div class="col-6">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" th:if="${employeeList.hasPrevious()}"
                                                     th:href="@{'/employee'(page=${employeeList.number - 1})}">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{'/employee'(page=${employeeList.number })}"><span
                                    th:text="${employeeList.number + 1}"></span>/<span
                                    th:text="${employeeList.totalPages }"></span></a></li>
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{'/employee'(page=${employeeList.number +1 })}"><span
                                    th:text="${employeeList.number + 2}"></span></a></li>
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{'/employee'(page=${employeeList.number +2 })}"><span
                                    th:text="${employeeList.number + 3}"></span></a></li>
                            <li class="page-item"><a class="page-link" th:if="${employeeList.hasNext()}"
                                                     th:href="@{'/employee'(page=${employeeList.number + 1})}">Next</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     th:href="@{'/employee'(page=${employeeList.totalPages}-1)}">Last
                                Page</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-6 text-right">
                    <a class="nav-link">
                        <button onclick="getAllId()" type="button" class="btn btn-outline-danger"
                                data-toggle="modal" data-target="#modalDeleteAll">Delete All Selected Employees <i
                                class="fas fa-trash-alt"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal DELETE -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/employee/delete">
                    <!--                    <input type="hidden" name="action" value="delete">-->
                    <input type="hidden" name="idEmployee" id="idEmployee">
                    <div class="modal-body">
                        <div class="container-fluid">
                            Are you sure to delete ?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal DELETE ALL-->
    <div class="modal fade" id="modalDeleteAll" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/employee/deleteAll">
                    <input type="hidden" name="action" value="deleteAll">
                    <input type="hidden" name="allIdEmployee" value="" id="allIdEmployee">
                    <div class="modal-body">
                        <div class="container-fluid">
                            Are you sure to delete all selected employees?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--     Modal Search-->
    <div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center text-primary">Form Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/employee/search">
                    <input type="search" name="code" placeholder="Search by Id" class="form-control"><br>
                    <input type="search" name="name" placeholder="Search by Name" class="form-control"><br>
                    <input type="search" name="birthDay" placeholder="Search by Birth Date" class="form-control"><br>
                    <input type="search" name="idCard" placeholder="Search by ID Card" class="form-control"><br>
                    <input type="search" name="salary" placeholder="Search by Salary" class="form-control"><br>
                    <input type="search" name="phone" placeholder="Search by Number Phone" class="form-control"><br>
                    <input type="search" name="email" placeholder="Search by Email" class="form-control"><br>
                    <input type="search" name="address" placeholder="Search by Address" class="form-control"><br>
                    <select class="form-control" name="position">
                        <option selected value="">Search by Position</option>
                        <option th:each="position:${positionList}" th:value="${position.id}"
                                th:text="${position.name}"></option>
                    </select><br>
                    <select class="form-control" name="educationDegree">
                        <option selected value="">Search by  Education Degree</option>
                        <option th:each="education:${educationList}" th:value="${education.id}"
                                th:text="${education.name}"></option>
                    </select><br>
                    <select class="form-control" name="division">
                        <option selected value="">Search by type of Division</option>
                        <option th:each="division:${divisionList}" th:value="${division.id}"
                                th:text="${division.name}"></option>
                    </select><br>
                    <input type="search" name="usename" placeholder="Search by UserName" class="form-control"><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="/customer/layout :: script">
</div>

<script>
    function onDelete(id) {
        document.getElementById("idEmployee").value = id;
    }

    function getAllId() {
        document.getElementById("allIdEmployee").value = "";
        let array = [];
        let checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
        for (let i = 0; i < checkboxes.length; i++) {
            array.push(checkboxes[i].value);
        }
        for (let i = 0; i < array.length; i++) {
            document.getElementById("allIdEmployee").value += "," + array[i];
        }
    }


    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);
    });
</script>

</body>
</html>