<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
</head>
<body>
<div th:replace="/customer/layout :: header"></div>

<div class="row">
    <div class="col-12 ">
        <div th:replace="/customer/layout :: navbar">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <span class="text-primary text-center" style="font-size: xx-large">You are not authorized to access this page </span>
    </div>
</div>
<div th:replace="/customer/layout :: script">
</div>
</body>
</html>